.category__title {
  padding-bottom: 1rem;
  margin: 0;
  font-size: var(--fs-extra-large);
  color: var(--color-white);
}

.category__header {
  padding: 1rem;
}

hr {
  border: none;
  height: 0.1rem;
  background-color: var(--color-white);
  margin: 0;
  width: 15rem;
}