<nav class="navbar font-sans">
  <h1 class="navbar__logo"onclick="window.location.href='index.html'">france</h1>
  <ul class="navbar__list">
    <div class="navbar__profile">
      <select id="profile-select" class="navbar__select" onchange="{{handler}}">
        {{options}}
      </select>
      <svg id="profile-picture" class="navbar__picture" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="8" r="4"/>
        <path d="M4 20c0-4 4-6 8-6s8 2 8 6"/>
      </svg>
    </div>
  </ul>
</nav>


