<div class="category">
  <div class="category__header">
    <h2 class="category__title">{{category}}</h2>
    <div class="category__carousel">
      <button class="carousel__button carousel__button--left" data-direction="left"><img class="carrousel__arrow__left" src="../../../server/images/icons8-fleche-50.png" alt="fleche"></button>
      <button class="carousel__button carousel__button--right" data-direction="right"><img class="carrousel__arrow__right" src="../../../server/images/icons8-fleche-50.png" alt="fleche"></button>
    </div>
  </div>
  <div class="category__content">{{movies}}</div>
</div>