.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.movie__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  @media (min-width: 60rem) {
    & {
      flex-direction: row;
    }
  }
}

.movie__cards__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.movie__cards__card:hover {
  scale: 105%;
}


.movie__cards__card__title {
  margin: 0;
}

.movie__cards__card__img {
  width: 15rem;
}