  .movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-gray-light);
  }

  .movie__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    justify-content: center;
    align-items: start;
    gap: 2.5rem;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
  }

  .movie__cards__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border-radius: 1.5rem;
    background-color: var(--color-gray-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .movie__cards__card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .movie__cards__card__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-white);
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .movie__cards__card__img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem 1.5rem 0 0;
    object-fit: cover;
  }