<link rel="stylesheet" href="./style.css" />


    <card class="movie__cards__card">
      <img class="movie__cards__card__img" src="../server/images/bon_brute_truand.jpg" alt="img">
      <h3 class="movie__cards__card__title">Le bon la brute et le truand</h3>
    </card>
    <card class="movie__cards__card">
      <img class="movie__cards__card__img" src="../server/images/interstellar.jpg" alt="img">
      <h3 class="movie__cards__card__title">Interstellar</h3>
    </card>
    <card class="movie__cards__card">
      <img class="movie__cards__card__img" src="../server/images/schindler.webp" alt="img">
      <h3 class="movie__cards__card__title">La liste de Schindler</h3>
    </card>
    <card class="movie__cards__card">
      <img class="movie__cards__card__img" src="../server/images/your_name.jpg" alt="img">
      <h3 class="movie__cards__card__title">Your Name</h3>
    </card>