@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  /* Primitive Tokens */
  --color-dark-black: #0e0e0e;
  --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --color-purple: rgb(17, 9, 45);
  --color-pink: #b748ab;
  --color-green: #4d612e;

  --ff-sans: system-ui;
  --fw-bold: 700;
  --fw-regular: 500;
  --fs-regular: 1rem;
  --fs-large: 1.5rem;
  --fs-extra-large: 2.2rem;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-gray-dark);
}
