<main class="main">
  <content class="details">
    <img class="details__img" src="https://mmi.unilim.fr/~khireddine3/SAE2.03-starter-project/server/images/{{image}}">
    <div class="details__text">
      <h2 class="details__desc">Réalisé par {{director}} • {{year}} en salle • {{category}} • +{{min_age}}</h2>
      <h2 class="details__title">{{name}}</h2>
      <p>{{description}}</p>
      <iframe class="details__trailer" src="{{trailer}}" width="560" height="315" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </content>
</main>