.profil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem 2rem;
  background-color: var(--color-gray-dark);
  border: solid 1px var(--color-white);
  gap: 0.5rem;
}

.addProfile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profil__input{
  width: 20rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 1rem;
}

.profil__input--variant-1 {
  margin-bottom: 1rem;
}

.profil__title {
  display: flex;
  justify-content: center;
}

.profil__button {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--color-green-dark);
  color: var(--color-white);
  cursor: pointer;
  transition: 0.3s;
}

.profil__button:hover {
  scale: 99%;
}