<div id="profil" class="profil">
  <h1 class="profil__title">Ajouter un profil</h1>
  <form class="addProfile__form">
    <input required class="profil__input" type="text" name="name" placeholder="Nom d'utilisateur" required><br>
    <input required class="profil__input" type="text" name="image" placeholder="Photo de profil" required><br>
    <input required class="profil__input" type="date" name="date_naissance" placeholder="Date de naissance" required><br>

  <input class="profil__button" onclick="{{handler}}" type="button" value="Valider" name="todo" required><br>
</form>
</div>